/.idea
/.phpunit.cache
/.phpunit.result.cache
/.swagger-codegen-ignore
/composer.lock
/composer.phar
/gen
/vendor
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
